.App {
  text-align: center;
}




.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
h1{
  color: tomato;
}
.boton-principal{
  border: none;
  width: 5rem;
  height: 4rem;
}
.like{
  border: none;
  width: 5rem;
  height: 4rem;
  background-color: #0f0;
  padding: 20px;
}
.dislike{
  border: none;
  width: 5rem;
  height: 4rem;
  background-color: #f00;
}
